################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Super-tic-tac-toe/.vs/Super-tic-tac-toe/v15
