################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Super-tic-tac-toe/.vs/Super-tic-tac-toe/v15
*.resources
*.exe
*.cache
*.baml
/Super-tic-tac-toe/Super-tic-tac-toe/obj/
/Super-tic-tac-toe/Super-tic-tac-toe/bin/
/Super-tic-tac-toe/UnitTestProject1/bin/
/Super-tic-tac-toe/UnitTestProject1/obj/
*.pdb
*.dll
